.content
	h2.point 1. Организираме алиби и правдоподобно отсъствие (Освен в случаи с криминален характер или в разрез със закона.)
	div.more-content(ng-show="more1")
		div.text При необходимост от правдоподобно обяснение за липса от дома или събитие, екипът ни е на Ваше разположение. В зависимост от случая организираме обстоятелствата свързани с обичайно отсъствие, до сложни многоетапни сценарии.
			| Помогаме по много и различни начини.
			br
			| По телефона, за спиране на извънредни събития, които изискват присъствието ви.
			br
			| Чрез  получаване на  покана за участие в различни дейности от  частен или корпоративен характер, както и покани за присъствие в масови и социални събития.
			br
			| С наличие на писмени доказателства за участието Ви в конференции, семинари, срещи и други събития.
			br
			| Чрез наличие на доказателства за Вашата резервация при различни видове транспорт.
			br
			| Можем да предоставим различни легитимации за Вашето присъствие по време на спортни събития, концерти, модни ревюта, фитнес зали, спортни  клубове  или други обществени места.
			br
			| Предлагаме редица услуги, свързани с предоставянето на  всички необходими материали, свързани с избраното  събитието, в което сте участвали, съгласно разработения за вас сценарий.
			br
			| Можете да получите на разположение  няколко виртуални телефонни номера готови във всеки момент да станат виртуални номера на барове, ресторанти, фитнес зали, салони за красота, и дори на ваши офис партньори (където и да се намирате  буквално в момента).
			br
			| При заявяване на услуга ще можете да избирате различни сценарии, които най-добре отговарят на вашите възможности и потребности.
			br
			| Всеки наш сценарий се разработва уникално за конкретния клиент в пълна тишина и конфиденциалност.
		div.text
			| Необходимото условие за нашето съдействие е запитване подадено на посочения мейл. В случай, че услугата е незабавна можете да се свържете с нас на дежурен телефон по всяко време.
			br
			| Разговора е платен и на стойност 
			span.price
				| 2.40 лв. 
			| Използвайте телефона само в случай на спешност.

	div.more.more-1(ng-click="showHide(1)") Още...
	h2.point 2. Организираме посталиби (В случаите, когато отсъствието вече се е случило и се налага спешно справяне със ситуацията.)
	div.more-content(ng-show="more2")
		div.text Има ситуации, които изискват постнамеса. Изпаднете ли в такава, можете да се обърнете към нас. Докато всичко не е загубено, нищо не е загубено. Дори на пръв поглед невъзможна за обяснение ситуация, може да бъде удачно разрешена. Просто се обърнете към нас.
		div.text Можем да Ви консултираме  и организираме  цялостна проверка на съществуващо пълно или частично алиби, за потвърждение или опровержение на доказателствата за невинност. Помагаме във всяка  чувствителна ситуация  или обстоятелства в личния и обществения Ви живот.
			| Можем да изготвим цялостна професионална проверка на фактите, включително психологически анализ на човешкото поведение.
			| Осъзнавайки скрупулите на този въпрос, ние работим конфиденциално, без да се нарушават правата на гражданите и законите на Република България.
	div.more.more-2(ng-click="showHide(2)") Още...
	h2.point 3. Помощ в повишаване на репутацията на работно място или в друг кръг. (Проектиране и провеждане на ситуации, които могат да покажат, вашата креативност, умения или способности)
	div.more-content(ng-show="more3")
		div.text Можете да се обърнете към нас в случаите, когато:
		div.text-citation - Ако имате проблеми с оценката по време на работа или притеснения, че сте застрашен от уволнение. 
			| Или желаете да подобрите репутацията си и да се превърнете в ценен за ръководството кадър.
			| Имате нужда от подобряване на  репутацията сред приятели и познати…
		div.text-citation - Обърнете се към нас. 
			| Постигането на тези цели не е свързано с необходимостта от  извършване на специални подвизи.

	div.more.more-3(ng-click="showHide(3)") Още...
	h2.point 4. Организиране на виртуални дейности или ангажименти.(Осигуряваме виртуален офис, секретар, визитни картички и всичко, което е необходимо.)
	div.more-content(ng-show="more4")
		div.text Можем да легитимираме  желана от Вас дейност  на пълно или непълно работно време.
			br
			| Съдействаме за набавяне на всички съпътстващи атрибути – визитки, офис, секретар и всичко, което е необходимо.

	div.more.more-4(ng-click="showHide(4)") Още...
	h2.point 5. Освобождаване от досадни ангажименти и срещи.(Осигуряваме обаждане, смс или ситуация, която да мотивира прекъсването)
	div.more-content(ng-show="more5")
		div.text Готови сме по всяко време да ви “спасим” от скучни или  ненужни срещи, както и  други обстоятелства, които трябва да спрат или отменят определено събитие.
		div.text При свързване с нас, ние ще съдействаме за  основателна причина, която да отмени или прекрати ангажимента  (срещата)  без да се нараняват  другите и да се ситуира ненужно подозрение.
	div.more.more-5(ng-click="showHide(5)") Още...
	h2.point 6. Осигуряваме наличието на познати и приятели на обществено място.
	div.more-content(ng-show="more6")
		div.text В своето ежедневие понякога имаме нужда от демонстриране на висока популярност.
		div.text В подобна ситуация ние съдействаме при осигуряване наличието на широк кръг хора, които могат да се ситуират, като добри познати и приятели. В зависимост от ситуацията или необходимостта могат да демонстрират близост в социална или бизнес сфера.
	div.more.more-6(ng-click="showHide(6)") Още...
	h2.point 7. Осигуряваме придружител при посещение на кино, театър, концерти, при срещи с колеги или роднини
	div.more-content(ng-show="more7")
		div.text Тази услуга е оринтирана към хора, които биха искали на обществени места или сред свои близки да демнострират наличие на близък приятел. 
		div.text Помагаме в набавянето на сътрудник, който /която/ може не просто да присъства на събитието, а да води и поддържа разговор с лекота.
	div.more.more-7(ng-click="showHide(7)") Още...
	h2.point 8. Изпълняваме конфиденциални поръчки при покупка и доставка на подарък,  цветя и др. без никъде да присъства Вашето име или номер на кредитна карта.
	div.more-content(ng-show="more8")
		div.text Извършваме доставки на подаръци, цветя, вещи и др. които ,поради  лични съображения Вие не можете  (или не желаете) да направите сами или с помощта на свои подчинени, познати, приятели или роднини.
	div.more.more-8(ng-click="showHide(8)") Още...
	h2.point 9.	Осигуряваме психологическа помощ при семейни конфликти или такива от друго естество
	div.more-content(ng-show="more9")
		div.text Живеем в свят на конфликти.
			br
			| Ежедневието ни е заредено с възможността някой от тях да ни засегне лично.
			br 
			| При наличие на конфликт в личния или социален живот, на силни емоции, враждебност, липса на разбиране….. При съществуващи пречки за преговори и излизане от конфликтна ситуация можете да се обърнете към нас.
			br
			| Медиацията ще Ви даде възможност за уреждане на конфликта. Това не е свързано с бюрократични и съдебни процедури, става по взаимно съгласие между страните.   
			br
			| Можете да разчитате на  абсолютна конфиденциалност при медиацията ни. 
			br
			| Установения процес на комуникация и анализ на конфликта,  способства за намиране и избор на опции за разрешаване на спора.  
			br
			| Извършваме консултации при сложни ситуации свързани с възстановяване на семейни взаимоотношения или прекъсването им.

	div.more.more-9(ng-click="showHide(9)") Още...
	h2.point 10. Съдействаме в ситуации,когато е трудно да кажете НЕ или КРАЙ. Правим това с мисъл за Вас и човека отсреща.
	div.more-content(ng-show="more10")
		div.text Съдействаме при раздели, когато е трудно да кажете “НЕ” или “КРАЙ”  Правим това с мисъл за Вас и човека отсреща.
	div.more.more-10(ng-click="showHide(10)") Още...
	div.bottom-message …можем да бъдем полезни и в редица други ситуации. Ако имате въпроси ние сме на разположение. Не се колебайте просто попълнете формата и изпратете запитване. Ще ви отговорим в най-кратък срок.
